<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Programming Contest <small>Register Participant</small></h2>
            <ul class="nav navbar-right panel_toolbox">
              <li>
                <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
              </li>
              <li class="dropdown">
                <a
                  href="#"
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  ><i class="fa fa-wrench"></i
                ></a>
              </li>
            </ul>

            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />

            <% let success="Participant has been registered successfully!" %>
            <%if(error.length>0){if(error==success){%>
            <div class="alert alert-success"><%=error%></div>
            <%}else{%>
            <div class="alert alert-danger"><%=error%></div>
            <%}%><%}%>

            <form
              method="POST"
              action="/ProgContest/register"
              id="demo-form2"
              data-parsley-validate
              class="form-horizontal form-label-left"
            >
              <div class="item form-group">
                <label
                  class="col-form-label col-md-3 col-sm-3 label-align"
                  for="first-name"
                  >Team Name <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="text"
                    id="teamName"
                    name="teamName"
                    required="required"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                  class="col-form-label col-md-3 col-sm-3 label-align"
                  for="first-name"
                  >Institution Name<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                    type="text"
                    id="institutionName"
                    name="institutionName"
                    required="required"
                    class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >Coach Name<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="text"
                          id="coachName"
                          name="coachName"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >Coach Contact<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="text"
                          id="coachContact"
                          name="coachContact"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >Coach Email<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="email"
                          id="coachEmail"
                          name="coachEmail"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >leaderName<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="text"
                          id="leaderName"
                          name="leaderName"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >leaderContact<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="text"
                          id="leaderContact"
                          name="leaderContact"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >leaderEmail<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="email"
                          id="leaderEmail"
                          name="leaderEmail"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >leadertshirt<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <select class="form-control" id="leadertshirt" name="leadertshirt">
                    <option disabled>... Choose Option ...</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                    <option value="XL">Extra Large</option>
                  </select>
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >member1Name<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="text"
                          id="member1Name"
                          name="member1Name"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >member1Contact<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="text"
                          id="member1Contact"
                          name="member1Contact"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >member1Email<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="email"
                          id="member1Email"
                          name="member1Email"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >member1tshirt<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <select class="form-control" id="member1tshirt" name="member1tshirt">
                    <option disabled>... Choose Option ...</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                    <option value="XL">Extra Large</option>
                  </select>
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >member2Name<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="text"
                          id="member2Name"
                          name="member2Name"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >member2Contact<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="text"
                          id="member2Contact"
                          name="member2Contact"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >member2Email<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <input
                          type="email"
                          id="member2Email"
                          name="member2Email"
                          required="required"
                          class="form-control"
                  />
                </div>
              </div>

              <div class="item form-group">
                <label
                        class="col-form-label col-md-3 col-sm-3 label-align"
                        for="first-name"
                >member2tshirt<span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6">
                  <select class="form-control" id="member2tshirt" name="member2tshirt">
                    <option disabled>... Choose Option ...</option>
                    <option value="M">Medium</option>
                    <option value="L">Large</option>
                    <option value="XL">Extra Large</option>
                  </select>
                </div>
              </div>


              <div class="ln_solid"></div>
              <div class="item form-group">
                <div class="col-md-6 col-sm-6 offset-md-3">
                  <button class="btn btn-primary" type="reset">Reset</button>
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
